<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
        This is needed since NUGET modifies VCXPROJ files to include imports
        that are relative to the project. Thus, if this repository is cloned
        to some other machine the path could be wrong without this. Basically,
        native code + NuGet == PITA.Major
        -->
        <add key="repositoryPath" value="..\..\BuildOutput\packages" />
        <add key="globalPackagesFolder" value="..\..\BuildOutput\packages" />
    </config>
</configuration>