#Primary settings apply to all files unless overridden below
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true

# match VS generated formatting for MSBuild project files
[*.*proj,*.props,*.targets]
indent_size = 2

# match ISO standard requirement for C/C++
[*.c,*.h,*.cpp]
insert_final_newline = true

[*.cs]
csharp_style_conditional_delegate_call = true:warning
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_operators = true:suggestion
csharp_style_expression_bodied_properties = true:warning
csharp_style_inlined_variable_declaration = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_throw_expression = true:warning
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:none
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
dotnet_sort_system_directives_first = true
dotnet_style_coalesce_expression = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_null_propagation = true:warning
dotnet_style_qualification_for_event = false:error
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
csharp_indent_block_contents = true
csharp_indent_case_contents = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = false
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_around_declaration_statements = ignore
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_square_brackets = true
