<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
        This is needed since NUGET modifies VCXPROJ files to include imports
        that are relative to the project. Thus, if this repo is cloned to some
        other machine the path could be wrong without this.
        -->
        <add key="repositoryPath" value="BuildOutput\packages" />
        <add key="globalPackagesFolder" value="BuildOutput\packages" />
    </config>
    <packageSources>
        <add key="BuildOutput" value="BuildOutput\Nuget" />
        <add key="AppVeyorGitBuild" value="https://ci.appveyor.com/nuget/CSemVer.GitBuild" />
        <add key="AppVeyorValidators" value="https://ci.appveyor.com/nuget/Ubiquty.ArgValidators" />
    </packageSources>
</configuration>
