<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <packageSources>
        <add key="BuildOutput" value="BuildOutput\Nuget" />
        <add key="AppVeyorGitBuild" value="https://ci.appveyor.com/nuget/CSemVer.GitBuild" />
        <add key="AppVeyorValidators" value="https://ci.appveyor.com/nuget/Ubiquty.ArgValidators" />
    </packageSources>
</configuration>
