<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="packages" />
    </config>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="BuildOutput" value="BuildOutput\Packages" />
    </packageSources>
</configuration>