<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSemVer.Build.Tasks" version="1.0.2-beta--ci-BLD.427428397" targetFramework="native" />
  <package id="Llvm.Libs.x64" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.pdbs.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Release" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Debug" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Release" version="6.0.0" targetFramework="native" developmentDependency="true" />
  <package id="PdbGit" version="3.0.41" targetFramework="native" developmentDependency="true" />
</packages>
