<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSemVer.Build.Tasks" version="1.0.0-alpha.2--ci-REL.194F4984" targetFramework="native" />
  <package id="Llvm.Libs" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.pdbs.x64-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.pdbs.x86-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Release" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x86-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x86-Release" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Release" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x86-Debug" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x86-Release" version="5.0.0" targetFramework="native" developmentDependency="true" />
  <package id="PdbGit" version="3.0.41" targetFramework="native" developmentDependency="true" />
</packages>