<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Llvm.Libs" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.pdbs.x64-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.pdbs.x86-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x64-Release" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x86-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.core.x86-Release" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x64-Release" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x86-Debug" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="Llvm.Libs.targets.x86-Release" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="LlvmNetBuildTasks" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="PdbGit" version="3.0.41" targetFramework="native" developmentDependency="true" />
</packages>
