@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

body,
html {
    font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
    font-size: 100%;
}

/* Clickability fix for selector on sm devices */
@media (min-width: 768px) and (max-width: 991px) {
  article h1:first-of-type:before {
    height: 0;
    margin-top: 0;
  }
}

#search {
  border: none;
}

.fa-code {
  font-size: 19px;
}

.sidetoc,
body .toc,
.sidefilter,
.sidetoggle {
}

.sidenav,
.toc-toggle {
  padding: 0;
}

.sidetoggle {
  padding-bottom: 15px;
}

/* Remove center align from Navbar and Collapsible section */
.collapse.in,
.collapsing {
  text-align: unset;
}

article h4 {
  border-bottom: none;
}

@media (min-width: 768px) {
  .sidetoc, .sidefilter {
    margin-left: -15px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center !important;
  }

  .navbar-collapse li .active {
    border-radius: 20px;
  }
}

/* Collapsible Sections
   ------------------------------------------------------- */
.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

/* Floating buttons
   ------------------------------------------------------- */
.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

.fab + .fab {
  margin-right: 15px;
}

.contribution-panel {
    z-index: 1000;
    position: fixed;
    right: 30px;
    top: 70px;
}

/* Bootstrap docs like sidebar
   ------------------------------------------------------- */
.affix h5 {
  display: none;
}

/* active & hover links */
.affix ul > li > a:hover,
.affix ul > li.active > a,
.affix ul > li > a:focus {
  color: #ad9017;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #ad9017;
}

/* all active links */
.affix ul > li.active > a,
.affix ul > li.active:hover > a,
.affix ul > li.active:focus >a {
    font-weight: 700;
}

/* nested active links */
.affix ul ul > li.active > a,
.affix ul ul > li.active:hover > a,
.affix ul ul > li.active:focus > a {
    font-weight: 500;
}

/* all links */
.affix ul > li > a {
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.affix ul ul > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* hide inactive nested list */
.affix ul ul {
  display: none;
}

/* show active nested list */
.affix ul > li.active > ul {
  display: block;
}

.affix > ul > li > a:before {
  content: '';
}

.affix ul ul > li > a:before {
  content: '';
}

/* Navbar Hamburger
   ------------------------------------------------------- */
.icon-bar {
    transition: 0.4s;
}

/* Rotate first bar */
.change .icon-bar:nth-of-type(2) {
    transform: rotate(-45deg) translate(-4px, 5px) ;
}

/* Fade out the second bar */
.change .icon-bar:nth-of-type(3) {
    opacity: 0;
}

/* Rotate last bar */
.change .icon-bar:nth-of-type(4) {
    transform: rotate(45deg) translate(-4px, -5px) ;
}

/* Custom Navbar
   ------------------------------------------------------- */
.navbar-inverse {
  opacity: 0.95;
  border-color: #375c86;
}
.navbar-inverse .navbar-brand {
  color: #E0E0E0;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-text {
  color: #E0E0E0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #E0E0E0;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #58acff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #337AB7;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #02735f;
}
.navbar-inverse .navbar-toggle {
  border-color: #02735f;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #02735f;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #E0E0E0;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-link {
  color: #E0E0E0;
}
.navbar-inverse .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #E0E0E0;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #02735f;
  }
}

/* Ubiquity layout overrides */
.article {
    margin-top: 35px;
}

article {
  margin: 1em;
}

.sideaffix {
    overflow: visible;
}

.toc .level1 > li {
    font-weight: bold;
    font-size: 14px;
}

toc .level2 {
    font-weight: normal;
    font-size: 12px;
}

.sidetoggle div {
  Width: 300px;
}

/* Overrides for - Ubiquity DocFX Dark theme */
body {
    color:#ccc;
    background-color: #0A0A0A;
}

pre {
    background-color:#0A0A0A;
    border:1px solid #55595c;
    font-size: .875rem;
}

img {
    vertical-align: middle;
    background-color: #303030;
}

.table .table {
    background-color:#0A0A0A;
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: none;
    border-top: 1px solid #29393b;
    border-bottom: 1px solid #29393b;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#0A0A0A;
}

.sidenav,
.fixed_header,
.toc {
  background-color: #0A0A0A;
}

.sidetoc {
  background-color: #0A0A0A;
  border-left: 1px dotted #1e324d;
  border-right: 1px dotted #1e324d;
}

body .toc {
  background-color: #0A0A0A;
}

.toc .nav > li > a {
  color: #ccc;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #0078d7;
  text-decoration: underline;
}

.sidefilter {
  background-color: #0A0A0A;
  border-left: 1px dotted #1e324d;
  border-right: 1px dotted #1e324d;
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
  background-color: #0A0A0A;
}

.affix ul > li > a:before {
  color: #FFFFFF;
}

.affix ul > li > a:hover {
  color: #eab22a;;
}

.affix ul > li > a:hover {
  color: #eab22a;;
}

.affix ul > li > a {
  color: #eab22a;
}

.footer {
  border-top: 1px solid #1e324d;
  background-color: #0A0A0A;
}

.toc li:after {
    color: #eab22a;
}

.alert-info {
    color: #73d1ff;
    background-color: #0c0e0f;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #000;
    border-color: #f00;
}

button, a {
    color: #00a4f3;
}

button:hover,
button:focus,
a:hover,
a:focus {
    color: #0078d7;
    text-decoration: underline;
}

a.expander:hover {
  text-decoration:none;
}

code {
    color: #4EC9B0;
    background-color: #000;
    border-radius: 1px;
}

pre code {
    color: #ccc
}

svg:hover text {
    fill: #58acff;
}

svg:hover path {
    fill: #58acff;
}

/* Highlight.JS Ubiquity Dark theme */
.hljs {
  display: block;
  overflow-x: auto;
  background: #0A0A0A;
  color: #C0C0C0;
  padding: 0.5em;
  -webkit-text-size-adjust:none
}

.hljs-comment {
  color:#e9d585;
}

.hljs-quote {
  color: #9c9491;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f22c40;
}

.hljs-meta {
  color: #c0c682;
}

.hljs-symbol
{
  color: #C0C0C0;
}

.hljs-title,
.hljs-type,
.hljs-class {
  color: #4EC9B0;
}

.hljs-string,
.hljs-bullet {
  color: #D69D85;
}

.hljs-params
.hljs-section {
  color: #C0C0C0;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-keyword,
.hljs-selector-tag {
  color: #569CD6;
}

.hljs-number,
.hljs-literal {
  color: #B5CEA8
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-header {
    color:paleturquoise;
}

.hljs-addition {
    color:forestgreen;
}

.hljs-deletion {
    color:crimson;
}

code.lang-diff {
    color:grey;
}

/* Override docfx.vendor.css language specific hljs styles */
.bash .hljs-shebang,
.java .hljs-javadoc,
.javascript .hljs-javadoc,
.rust .hljs-preprocessor {
    color:#e9d585
}

.apache .hljs-sqbracket,
.c .hljs-preprocessor,
.coffeescript .hljs-regexp,
.coffeescript .hljs-subst,
.cpp .hljs-preprocessor,
.javascript .hljs-regexp,
.json .hljs-attribute,
.less .hljs-built_in,
.makefile .hljs-variable,
.markdown .hljs-blockquote,
.markdown .hljs-emphasis,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-value,
.nginx .hljs-number,
.nginx .hljs-regexp,
.objectivec .hljs-preprocessor .hljs-title,
.perl .hljs-regexp,
.php .hljs-regexp,.scss .hljs-built_in,
.xml .hljs-value {
    color:#bd63c5
}

.css .hljs-at_rule,
.css .hljs-important,
.go .hljs-typename,.haskell .hljs-type,
.http .hljs-request,
.ini .hljs-setting,
.java .hljs-javadoctag,
.javascript .hljs-javadoctag,
.javascript .hljs-tag,
.less .hljs-at_rule,
.less .hljs-tag,
.nginx .hljs-title,
.objectivec .hljs-preprocessor,
.php .hljs-phpdoc,
.scss .hljs-at_rule,
.scss .hljs-important,
.scss .hljs-tag,
.sql .hljs-built_in,
.stylus .hljs-at_rule,
.swift .hljs-preprocessor {
    color:#a71d5d
}

.apache .hljs-cbracket,
.apache .hljs-common,
.apache .hljs-keyword,
.bash .hljs-built_in,
.bash .hljs-literal,
.c .hljs-built_in,
.c .hljs-number,
.coffeescript .hljs-built_in,
.coffeescript .hljs-literal,
.coffeescript .hljs-number,
.cpp .hljs-built_in,
.cpp .hljs-number,
.cs .hljs-built_in,
.cs .hljs-number,
.css .hljs-attribute,
.css .hljs-function,
.css .hljs-hexcolor,
.css .hljs-number,
.go .hljs-built_in,
.go .hljs-constant,
.haskell .hljs-number,
.http .hljs-attribute,
.http .hljs-literal,
.java .hljs-number,
.javascript .hljs-built_in,
.javascript .hljs-literal,
.javascript .hljs-number,
.json .hljs-number,
.less .hljs-attribute,
.less .hljs-function,
.less .hljs-hexcolor,
.less .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.nginx .hljs-built_in,
.objectivec .hljs-built_in,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.php .hljs-literal,
.php .hljs-number,
.puppet .hljs-function,
.python .hljs-number,
.ruby .hljs-constant,
.ruby .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-subst .hljs-keyword,
.ruby .hljs-symbol,
.rust .hljs-number,
.scss .hljs-attribute,
.scss .hljs-function,
.scss .hljs-hexcolor,
.scss .hljs-number,
.scss .hljs-preprocessor,
.sql .hljs-number,
.stylus .hljs-attribute,
.stylus .hljs-hexcolor,
.stylus .hljs-number,
.stylus .hljs-params,
.swift .hljs-built_in,
.swift .hljs-number {
    color:#4EC9B0
}

.apache .hljs-tag,
.cs .hljs-xmlDocTag,
.css .hljs-tag,
.stylus .hljs-tag,
.xml .hljs-title {
    color:#63a35c
}

.bash .hljs-variable,
.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.css .hljs-attr_selector,
.css .hljs-value,
.ini .hljs-keyword,
.ini .hljs-value,
.javascript .hljs-tag .hljs-title,
.makefile .hljs-constant,
.nginx .hljs-variable,
.scss .hljs-variable,
.xml .hljs-tag {
    color:#333
}

.bash .hljs-title,
.c .hljs-title,
.coffeescript .hljs-title,
.cpp .hljs-title,
.cs .hljs-title,
.css .hljs-class,
.css .hljs-id,
.css .hljs-pseudo,
.diff .hljs-chunk,
.haskell .hljs-pragma,
.haskell .hljs-title,
.ini .hljs-title,
.java .hljs-title,
.javascript .hljs-title,
.less .hljs-class,
.less .hljs-id,
.less .hljs-pseudo,
.makefile .hljs-title,
.objectivec .hljs-title,
.perl .hljs-sub,
.php .hljs-title,
.puppet .hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-title,
.rust .hljs-title,
.scss .hljs-class,
.scss .hljs-id,
.scss .hljs-pseudo,
.stylus .hljs-class,
.stylus .hljs-id,.stylus .hljs-pseudo,
.stylus .hljs-title,
.swift .hljs-title,
.xml .hljs-attribute {
    color:#4EC9B0
}

.coffeescript .hljs-attribute,
.coffeescript .hljs-reserved {
    color:#1d3e81
}

.diff .hljs-chunk {
    font-weight:700
}

.diff .hljs-addition {
    color:#55a532;
    background-color:#eaffea
}

.diff .hljs-deletion {
    color:#bd2c00;
    background-color:#ffecec
}

.markdown .hljs-link_url {
    text-decoration:underline
}

