name: CI-Build
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
           persist-credentials: false
           fetch-depth: 0

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.2
        with:
#          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          nuget-version: latest

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100

      - name: Build Source
        run: .\Build-All.ps1

      - name: Publish build logs
        if: always() && github.event_name == 'pull_request'
        uses: actions/upload-artifact@v1
        with:
            name: Build Logs
            path: .\BuildOutput\BinLogs

      - name: Publish Artifacts
        uses: actions/upload-artifact@v1
        with:
            name: Nuget Packages
            path: .\BuildOutput\Nuget

      - name: Commit Docs
        if: github.event_name == 'push'
        env:
          docspush_email: 32618965+cibuild-telliam@users.noreply.github.com
          docspush_username: cibuild-telliam
        run: .\Push-Docs.ps1 -SkipPush

      - name: Push Docs
        if: github.event_name == 'push'
        uses: ad-m/github-push-action@master
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            directory: .\BuildOutput\docs
            branch: gh-pages

      - name: Push to GitHub Packages
        if: github.event_name == 'push'
        run: |
            nuget sources Add -Name "GPR" -Source https://nuget.pkg.github.com/ubiquitydotnet/index.json -UserName 'cibuild-telliam' -Password ${{ secrets.GITHUB_TOKEN }}
            nuget push .\BuildOutput\NuGet\*.nupkg -Source "GPR"
