name: Release-Build
on:
  releas:
    type: created
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
           persist-credentials: false
           fetch-depth: 0

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.2
        with:
          nuget-version: latest

      - name: Build Source
        run: .\Build-All.ps1

      - name: Publish Artifacts
        uses: actions/upload-artifact@v1
        with:
            name: Nuget Packages
            path: .\BuildOutput\Nuget

      - name: Commit Docs
        env:
          docspush_email: 32618965+cibuild-telliam@users.noreply.github.com
          docspush_username: cibuild-telliam
        run: .\Push-Docs.ps1 -SkipPush

      - name: Push Docs
        uses: ad-m/github-push-action@master
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            directory: .\BuildOutput\docs
            branch: gh-pages
